<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.bean.OrderformMapper">
	
	<insert id="insertOrderform" 
	parameterType="Orderform">
		<selectKey keyColumn="id" keyProperty="id" order="BEFORE" resultType="long">
			select orderform_seq.nextval from dual
		</selectKey>
		insert into orderform values(#{id},#{cost},#{orderDate},#{cust.id})
	</insert>
</mapper>