<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>estore</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.briup.web.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.briup.web.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.briup.web.listener.ContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>AddOrderLineServlet</display-name>
    <servlet-name>AddOrderLineServlet</servlet-name>
    <servlet-class>com.briup.web.servlet.AddOrderLineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderLineServlet</servlet-name>
    <url-pattern>/addOrderLine</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.briup.web.listener.SessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ModifiCartServlet</display-name>
    <servlet-name>ModifiCartServlet</servlet-name>
    <servlet-class>com.briup.web.servlet.ModifiCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifiCartServlet</servlet-name>
    <url-pattern>/modifyCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveProductServlet</display-name>
    <servlet-name>RemoveProductServlet</servlet-name>
    <servlet-class>com.briup.web.servlet.RemoveProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveProductServlet</servlet-name>
    <url-pattern>/removeProduct</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodeFilter</display-name>
    <filter-name>EncodeFilter</filter-name>
    <filter-class>com.briup.web.filter.EncodeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>SaveOrderServlet</display-name>
    <servlet-name>SaveOrderServlet</servlet-name>
    <servlet-class>com.briup.web.servlet.SaveOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveOrderServlet</servlet-name>
    <url-pattern>/saveOrder</url-pattern>
  </servlet-mapping>
</web-app>